<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href=../css/bootstrap.css> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>zeroto6ixty</title>
</head>

<body scroll="no">
  <div class="bg">
    <div class="row justify-content-center">
      <h1 class="text-white">zeroto6ixty</h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
      <form class="" method="post" action="/gallery">
        <button type="submit" class="btn btn-light btn-lg rounded">MY PHOTOGRAPHS</button>
      </form>
    </div>
  </div>
  <div class="btnDiv">
    <a href="mailto:houssam@zeroto6ixty.com?subject=Hi!" class="fa fa-send"></a>
    <a href="http://instagram.com/zeroto6ixty" class="fa fa-instagram"></a>
  </div>
</body>

</html>
