<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <!-- CSS -->
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href=../css/bootstrap.css> <title>zeroto6ixty</title>
</head>

<body>
  <div class="bg">
    <div class="row justify-content-center">
      <h1 class="text-white">zeroto6ixty</h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
      <button type="button" class="btn btn-light btn-lg rounded">MY PHOTOGRAPHS</button>
    </div>
  </div>
</body>

</html>
